#!/bin/bash
set -eu

iptables -P INPUT DROP
iptables -P OUTPUT ACCEPT

# allow loopback
iptables -A INPUT --in-interface lo -m comment --comment "$(date -R)" -j ACCEPT

# make sure NEW incoming tcp connections are SYN packets
iptables -A INPUT -p tcp ! --syn -m state --state NEW -j DROP
iptables -A INPUT -m conntrack --ctstate INVALID -j DROP

# do not touch established connections
iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# ssh
iptables -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --dport 22 -j ACCEPT

# ratelimit ICMP echo
iptables -A INPUT -p icmp --icmp-type echo-request -m limit --limit 6/s -j ACCEPT
iptables -A INPUT -p icmp --icmp-type echo-request -j DROP

# obfsv4
iptables -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --dport {{ obfs4_port }} --syn -j ACCEPT

# Hetzner sysmon
(
  echo 188.40.24.211 213.133.113.82 213.133.113.83 213.133.113.84 213.133.113.86
  getent ahostsv4 pool.sysmon.hetzner.com | awk '{ print $1 }'
) |
  xargs -n 1 |
  sort -u |
  while read -r i; do
    iptables -A INPUT --src $i -j ACCEPT
  done
