# torrc
# {{ ansible_managed }}

BridgeRelay 1

# obfs4 does not work with sandbox
SandBox 0

ORPort 127.0.0.1:auto
AssumeReachable 1
ExtORPort auto
ServerTransportPlugin obfs4 exec /usr/bin/obfs4proxy
ServerTransportListenAddr obfs4 0.0.0.0:{{ obfs4_port }}

{% if (metrics_port is defined) and (metrics_port | int > 0) and (metrics_port | int < 2**16) %}
{% if prometheus_server is defined %}
MetricsPort {{ ansible_facts.default_ipv4.address}}:{{ metrics_port }}
MetricsPortPolicy accept {{ prometheus_server }}
MetricsPortPolicy accept {{ ansible_facts.default_ipv4.address }}
{% else %}
MetricsPort 127.0.0.1:{{ metrics_port }}
MetricsPortPolicy accept 127.0.0.1
{% endif %}
{% endif %}

{% for item in torrc_config %}
{{ item.name }} {{ item.value }}
{% endfor %}
