---
- name: Delete instance
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  changed_when: true
  environment:
    PATH: "{{ lookup('env', 'PATH') }}:{{ lookup('env', 'HOME') }}/bin"
  ansible.builtin.command:
    cmd: >-
      hcloud --quiet --poll-interval 10s server delete {{ inventory_hostname }}

- name: Delete ssh key
  delegate_to: localhost
  throttle: 1
  changed_when: true
  ansible.builtin.command:
    cmd: >-
      ssh-keygen -R {{ inventory_hostname }}
