# {{ ansible_managed }}

/var/log/tor/err.log /var/log/tor/warn.log /var/log/tor/notice.log {
  daily
  rotate 5
  compress
  delaycompress
  missingok
  notifempty
  create 0640 {{ (not tor_build_from_source and ansible_facts.os_family == 'Debian') | ternary('debian-tor adm', 'tor tor') }}"
  sharedscripts
  postrotate
    if invoke-rc.d tor status >/dev/null; then
      invoke-rc.d tor reload >dev/null
    fi
  endscript
}
