# {{ ansible_managed }}

/var/log/tor/*.log {
  daily
  rotate 5
  delaycompress
  missingok
  notifempty
  create 0640 {{ (not tor_build_from_source and ansible_facts.os_family == 'Debian') | ternary('debian-tor adm', 'tor tor') }}
  sharedscripts
  postrotate
    if invoke-rc.d tor status >/dev/null; then
      invoke-rc.d tor reload >dev/null
    fi
  endscript
}

# Tor dump files
/var/log/tor/*.log-???????? {
  hourly
  rotate 5
  delaycompress
  missingok
  notifempty
  create 0640 {{ (not tor_build_from_source and ansible_facts.os_family == 'Debian') | ternary('debian-tor adm', 'tor tor') }}
}
