# {{ ansible_managed }}

[Unit]
Description=Tor
Documentation=man:tor
Documentation=https://www.torproject.org/
After=network-online.target docker.socket firewalld.service systemd-networkd-wait-online.service
Wants=network-online.target
StartLimitInterval=0

[Service]
ExecStartPre=/usr/bin/tor --verify-config
ExecStart=/usr/bin/tor
ExecReload=/bin/kill -HUP ${MAINPID}
TimeoutSec=45
User=tor
Group=tor
Restart=on-failure
LimitNOFILE=65536
KillSignal=SIGINT

# Hardening
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH CAP_KILL
NoNewPrivileges={{ bridge_distribution | ternary('no', 'yes') }}
PrivateDevices=no
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/var/lib/tor
ReadWriteDirectories=-/var/log/tor

[Install]
WantedBy=multi-user.target
