# torrc
# {{ ansible_managed }}

{% if tor_build_from_source %}
# if self-compiled then do not rely on compile-time configure option (/home/tor/.tor/)
DataDirectory /var/lib/tor
{% endif %}

{% if bridge_distribution | length > 0 %}
BridgeRelay 1

SandBox 0

ORPort 127.0.0.1:auto
AssumeReachable 1
ExtORPort auto
ServerTransportPlugin obfs4 exec /usr/bin/{{ tor_build_from_source | ternary('lyrebird', 'obfs4proxy') }}
ServerTransportListenAddr obfs4 0.0.0.0:{{ tor_port }}
{% else %}
{% if ansible_facts.architecture != 'x86_64' %}
# sandbox issues with ARM64 (e.g. aarch64)
SandBox 0
{% else %}
SandBox 1
{% endif %}

ORPort {{ ansible_facts.default_ipv4.address }}:{{ tor_port }}
ORPort [{{ ansible_facts.default_ipv6.address }}]:{{ tor_port }}

CellStatistics 1
ConnDirectionStatistics 1
{% endif %}

{% if tor_metrics %}
MetricsPort 127.0.0.1:9052
MetricsPortPolicy accept 127.0.0.1
{% endif %}

SocksPort 0

{% for item in torrc_config + tor_config_group + tor_config_host %}
{% if item.value %}
{{ item.name }} {{ item.value }}
{% endif %}
{% endfor %}
