# torrc
# {{ ansible_managed }}

{% if tor_build_from_source %}
DataDirectory /var/lib/tor
{% endif %}

{% if bridge_distribution %}
BridgeRelay 1
BridgeDistribution {{ bridge_distribution }}
{% if bridge_distribution == 'none' %}
PublishServerDescriptor 0
{% endif %}

SandBox 0

ORPort 127.0.0.1:auto
AssumeReachable 1
ExtORPort auto
ServerTransportPlugin obfs4 exec /usr/bin/{{ tor_build_from_source | ternary('lyrebird', 'obfs4proxy') }}
ServerTransportListenAddr obfs4 0.0.0.0:{{ tor_port }}
{% else %}
NoExec 1

{% if ansible_facts.architecture != 'x86_64' %}
# sandbox issues with ARM64 (e.g. aarch64)
SandBox 0
{% else %}
SandBox 1
{% endif %}

ORPort {{ ansible_facts.default_ipv4.address }}:{{ tor_port }}
ORPort [{{ ansible_facts.default_ipv6.address }}]:{{ tor_port }}

{% if _my_family %}
MyFamily {{ _my_family }}
{% endif %}
{% endif %}

{% if tor_metrics is true %}
MetricsPort 127.0.0.1:9052
MetricsPortPolicy accept 127.0.0.1
{% endif %}

SocksPort 0

# explicitly disable defaults too
PaddingStatistics 0
DirReqStatistics 0
HiddenServiceStatistics 0
ExtraInfoStatistics 0

{% for item in torrc_config + torrc_config_all + torrc_config_group + torrc_config_host %}
{{ item.name }} {{ item.value }}
{% endfor %}
