---
additional_ports: []
additional_software: []

custom_command_file: ""

# e.g.:  -e desired_debian_release=trixie
desired_debian_release: ""

# Debian kernel flavours
kernel_debian_backports: false
kernel_debian_cloud: false

# metrics
ddos_metrics: false
metrics_port: 0
nginx_metrics: false
node_metrics: false
prometheus_server: ""
prometheus_server6: ""
tor_metrics: false

# Tor / Snowflake
tor_bridge_distribution: ""
snowflake_proxies: []
tor_port: 0
# egress firewall
tor_egress_drop: ""
tor_egress_slew: ""

# nginx
nginx_public_site: false
nginx_site_directories: []

# https://github.com/prometheus/node_exporter
# reduce the pressure at the (tiny cloud) instances itself instead filtering by "params:" in the prometheus.yaml config file
node_exporter_collectors:
  - disable-defaults
  - arp
  - conntrack
  - cpu
  - diskstats
  - filefd
  - filesystem
  - filesystem.mount-points-exclude="^/(dev|proc|run/credentials/.+|sys)($|/)"
  - loadavg
  - meminfo
  - netdev
  - netstat
  - processes
  - sockstat
  - softnet
  - stat
  - udp_queues
  - uname
  - vmstat
