---
- name: Check for a known artefact
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: "{{ item.checksum }}"
    path: "{{ tmp_dir }}/artefact/_known.txt"
  register: _known

- name: Work on new artefact
  when: _known.changed
  block:
    - name: Archive artefact
      changed_when: false
      ansible.builtin.command:
        cmd: >-
          tar -cvzpf /tmp/{{ item.checksum }}.tar.gz {{ item.path }}

    - name: Fetch artefact
      throttle: 1
      ansible.builtin.fetch:
        src: "/tmp/{{ item.checksum }}.tar.gz"
        dest: "{{ tmp_dir }}/artefact/"

  rescue:
    - name: Reset known state for artefact
      delegate_to: localhost
      throttle: 1
      ansible.builtin.lineinfile:
        line: "{{ item.checksum }}"
        path: "{{ tmp_dir }}/artefact/_known.txt"
        state: absent

  always:
    - name: Get dmesg for artefact
      ansible.builtin.include_tasks: _dmesg.yaml

    - name: Get kernel config for artefact
      ansible.builtin.include_tasks: _kernel-config.yaml
