---
- name: Check for a known artefact
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: "{{ item.checksum }}"
    path: "{{ tmp_dir }}/artefact/_known.txt"
  register: _known

- name: Work on new artefact
  when: _known.changed
  vars:
    _fname: "{{ inventory_hostname }}.{{ item.checksum }}.tar.gz"
  block:
    - name: Pack artefact
      changed_when: false
      ansible.builtin.command:
        cmd: >-
          tar -czpf /tmp/{{ _fname }} {{ item.path }}

    - name: Fetch artefact
      throttle: 1
      ansible.builtin.fetch:
        src: "/tmp/{{ _fname }}"
        dest: "{{ tmp_dir }}/artefact/{{ _fname }}"

    - name: Delete artefact
      ansible.builtin.file:
        path: "/tmp/{{ _fname }}"
        state: absent

  rescue:
    - name: Reset known state for artefact
      delegate_to: localhost
      throttle: 1
      ansible.builtin.lineinfile:
        line: "{{ item.checksum }}"
        path: "{{ tmp_dir }}/artefact/_known.txt"
        state: absent

  always:
    - name: Get dmesg for artefact
      ansible.builtin.include_tasks: _dmesg.yaml

    - name: Get kernel config for artefact
      ansible.builtin.include_tasks: _kconfig.yaml
