---
- name: Check for a known artefact
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: "{{ item.checksum }}"
    path: "{{ tmp_dir }}/artefact.log"
  register: _known

- name: Work on new artefact
  when: _known.changed
  vars:
    _tmp_fname: "{{ tmp_dir }}/artefact/{{ item.path | basename }}"
  block:
    - name: Log artefact history
      delegate_to: localhost
      throttle: 1
      ansible.builtin.lineinfile:
        line: "{{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }} {{ inventory_hostname }} {{ item.checksum }} {{ item.path }}"
        path: "{{ tmp_dir }}/artefact-history.log"

    - name: Fetch
      throttle: 1
      ansible.builtin.fetch:
        src: "{{ item.path }}"
        dest: "{{ _tmp_fname }}"

    - name: Hook
      when: artefact_hook | length > 0
      block:
        - name: Hook for artefact
          delegate_to: localhost
          throttle: "{{ concurrent_local_jobs }}"
          changed_when: false
          ansible.builtin.shell: # noqa: command-instead-of-shell
            cmd: >-
              {{ artefact_hook }} {{ _tmp_fname }} {{ item.checksum }}
          register: _hook

      always:
        - name: Hook stdout for artefact
          when: _hook.stdout | length > 0
          changed_when: true
          ansible.builtin.debug:
            var: _hook.stdout_lines

        - name: Hook stderr for artefact
          when: _hook.stderr | length > 0
          changed_when: true
          ansible.builtin.debug:
            var: _hook.stderr_lines

  rescue:
    - name: Reset known state of artefact
      delegate_to: localhost
      throttle: 1
      ansible.builtin.lineinfile:
        line: "{{ item.checksum }}"
        path: "{{ tmp_dir }}/artefact.log"
        state: absent
