---
- name: Get dmesg
  changed_when: false
  ansible.builtin.command:
    cmd: dmesg
  register: _result

- name: File dmesg
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.copy:
    dest: "{{ tmp_dir }}/dmesg/{{ inventory_hostname }}.txt"
    content: "{{ _result.stdout }}"

- name: File dmesg info
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.copy:
    content: |
      {{ ansible_facts.distribution }}
      {{ ansible_facts.distribution_release }}
      {{ ansible_facts.architecture }}
      {{ ansible_facts.processor[1] }}

    dest: "{{ tmp_dir }}/dmesg/{{ inventory_hostname }}.info.txt"
