---
- name: Get dmesg
  changed_when: false
  ansible.builtin.command:
    cmd: dmesg
  register: __dmesg

- name: File dmesg
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.copy:
    dest: "{{ infodir }}/dmesg/{{ inventory_hostname }}.{{ now(utc=true, fmt='%Y-%m-%d_%H:%M:%S') }}Z.txt"
    content: "{{ __dmesg.stdout }}"

- name: File dmesg info
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.copy:
    content: |
      {{ ansible_facts.distribution }}
      {{ ansible_facts.distribution_release }}
      {{ ansible_facts.architecture }}
      {{ ansible_facts.processor[1] }}

    dest: "{{ infodir }}/dmesg/{{ inventory_hostname }}.{{ now(utc=true, fmt='%Y-%m-%d_%H:%M:%S') }}Z.info.txt"
