---
- name: Gather facts - kconfig
  ansible.builtin.setup:
    gather_subset:
      - hardware

- name: Fetch kconfig
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.fetch:
    src: "/boot/config-{{ ansible_facts.kernel }}"
    dest: "{{ infodir }}/kconfig/{{ inventory_hostname }}.{{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }}.config"

- name: File kconfig info
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.copy:
    content: |
      {{ ansible_facts.distribution }}
      {{ ansible_facts.distribution_release }}
      {{ ansible_facts.architecture }}
      {{ ansible_facts.processor[1] }}

    dest: "{{ infodir }}/kconfig/{{ inventory_hostname }}.{{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }}.info.txt"
