---
- name: Check for a known trace
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: "{{ item }}"
    path: "{{ tmp_dir }}/trace/_known.txt"
  register: _known

- name: Work on new trace
  when: _known.changed
  block:
    - name: Get trace
      changed_when: false
      ansible.builtin.shell:
        cmd: |-
          journalctl --since "{{ trace_since }}" --quiet |
            awk "/{{ item | regex_replace('\/', '\\/') | regex_replace('\[', '\\[') }}/,/kernel: ---\[ end trace /" |
            head -n 999
      register: _full

    - name: File trace
      delegate_to: localhost
      throttle: 1
      ansible.builtin.blockinfile:
        block: |
          # {{ now(utc=true, fmt='%Y-%m-%d %H:%M:%S') }}    {{ ansible_facts.lsb.description }}
          {{ _full.stdout }}
        path: "{{ tmp_dir }}/trace/{{ inventory_hostname }}.txt"
        marker: "# {mark} {{ item }} "
        marker_begin: "TRACE BEGIN"
        marker_end: "TRACE END"

  rescue:
    - name: Reset known state for trace
      delegate_to: localhost
      throttle: 1
      ansible.builtin.lineinfile:
        line: "{{ item }}"
        path: "{{ tmp_dir }}/trace/_known.txt"
        state: absent

  always:
    - name: Get dmesg for trace
      ansible.builtin.include_tasks: _dmesg.yaml

    - name: Get kernel config for trace
      ansible.builtin.include_tasks: _kernel-config.yaml
