---
- name: Look for artefact
  when: artefact_paths | length > 0 and artefact_patterns | length > 0
  ansible.builtin.find:
    paths: "{{ artefact_paths }}"
    patterns: "{{ artefact_patterns }}"
    limit: "{{ artefact_limit }}"
    size: "{{ artefact_size }}"
    get_checksum: true
    recurse: true
    hidden: true
    follow: true
  register: _result

- name: Work on found artefact
  when: _result.files is defined
  ansible.builtin.include_tasks: _artefact.yaml
  loop_control:
    label: "{{ item.path }}    {{ item.size }}"
  loop: "{{ _result.files }}"
