---
- name: Minicoredumper
  ansible.builtin.find:
    paths: "{{ coredump_paths }}"
    patterns: "{{ coredump_patterns }}"
    limit: "{{ coredump_limit }}"
    get_checksum: true
    recurse: true
  register: _result

- name: Result
  when: _result.files | default([]) | length > 0
  block:
    - name: Loop over core dump files
      when: _result.files | length < 50
      vars:
        _fname: "{{ item.path }}"
        _unique_id: "{{ inventory_hostname }}.{{ _fname | dirname | basename }}"
      ansible.builtin.include_tasks: _coredump.yaml
      loop_control:
        label: "{{ _unique_id }}"
      loop: "{{ _result.files }}"
