---
- name: Grep system log for an issue since boot
  changed_when: false
  failed_when: _result.stderr | length > 0 or _result.rc > 0
  ansible.builtin.shell:
    cmd: |-
      journalctl --since "{{ issue_since }}" -b --quiet |
        grep -v -F 'Speculative Return Stack Overflow: WARNING:' |
        grep -F \
          -e 'BUG:' \
          -e 'BUG at' \
          -e 'Call Trace:' \
          -e 'Error:' \
          -e 'invoked oom-killer' \
          -e 'No space left on device' \
          -e 'Oops:' \
          -e 'rebooting.' \
          -e '.service: Control process exited' \
          -e 'status=9/KILL' \
          -e 'WARNING:' |
        head -n 500
  register: _result

- name: File issue
  delegate_to: localhost
  throttle: 1
  ansible.builtin.blockinfile:
    block: "{{ _result.stdout }}"
    path: "{{ tmp_dir }}/issue.txt"
    marker: "# {mark} {{ inventory_hostname }} "
    state: "{{ (_result.stdout | length > 0) | ternary('present', 'absent') }}"
