---
- name: Main
  module_defaults:
    ansible.builtin.blockinfile:
      create: true
      mode: "0644"
    ansible.builtin.copy:
      mode: "0644"
    ansible.builtin.fetch:
      flat: true
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      mode: "0644"
  block:
    - name: Artefact
      ansible.builtin.import_tasks: artefact.yaml
      tags:
        - artefact

    - name: Get dmesg
      ansible.builtin.import_tasks: _dmesg.yaml
      tags:
        - dmesg
        - never

    - name: Firewall
      ansible.builtin.import_tasks: firewall.yaml
      tags:
        - firewall

    - name: IPv6
      ansible.builtin.import_tasks: ipv6.yaml
      tags:
        - ipv6-healthy

    - name: Issue
      ansible.builtin.import_tasks: issue.yaml
      tags:
        - issue

    - name: Kernel config
      ansible.builtin.import_tasks: _kconfig.yaml
      tags:
        - kconfig
        - never

    - name: Core dump
      ansible.builtin.import_tasks: coredump.yaml
      tags:
        - coredump

    - name: Kernel trace
      ansible.builtin.import_tasks: trace.yaml
      tags:
        - trace
