---
- name: Get trace from systemd log
  changed_when: false
  ansible.builtin.shell:
    cmd: |-
      journalctl --since "{{ trace_since }}" --quiet |
        cut -f 5- -d' ' |
        grep -F -B 1 -A 1 'kernel: ------------[ cut here ]------------' |
        grep -E ' .*/.*\.[ch]:[0-9]+' |
        sort -u
  register: _result
  notify: Not Healthy

- name: Results of trace
  ansible.builtin.include_tasks: _trace.yaml
  loop: "{{ _result.stdout_lines }}"
