---
- name: Configure Apt
  ansible.builtin.copy:
    src: 99local-apt-conf
    dest: /etc/apt/apt.conf.d/

- name: Stop unattended upgrade
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
  loop:
    - apt-daily.timer
    - apt-daily-upgrade.timer
    - unattended-upgrades

- name: Allow phased updates in Ubuntu
  when: ansible_facts.distribution == 'Ubuntu'
  ansible.builtin.copy:
    src: 20phased-updates
    dest: /etc/apt/apt.conf.d/

- name: Update apt cache
  changed_when: _result.cache_updated
  ansible.builtin.apt:
    cache_valid_time: 3600
    update_cache: true
  register: _result

- name: Install/Update dep package for Ansible
  ansible.builtin.apt:
    name:
      - python3-psutil

- name: Ensure apt is not running
  failed_when: _processes.pids | default([]) | length > 0
  retries: 3
  delay: 60
  community.general.pids:
    pattern: apt.*|dpkg.*
  register: _processes

- name: Install/Update tools
  ansible.builtin.apt:
    name:
      - cron
      - curl
      - elfutils
      - git
      - needrestart
      - psmisc
      - rsync
      - sysstat

- name: Install/Update additional software
  when: additional_software | length > 0
  ansible.builtin.apt:
    name: "{{ additional_software }}"
