---
- name: Create Ansible tmp dir for user root
  ansible.builtin.file:
    path: /root/.ansible/tmp
    state: directory
    mode: "0700"
  register: _ansible_tmp

- name: Set the hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"

- name: Configure sshd
  ansible.builtin.copy:
    src: 00sshd.conf
    dest: /etc/ssh/sshd_config.d/
  notify: Reload ssh

- name: Remove cloud init config for sshd at IONOS
  when: ansible_facts.system_vendor == 'QEMU'
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d/50-cloud-init.conf
    state: absent
  notify: Reload ssh

- name: Have only 1 authorized key
  changed_when: false
  failed_when: _result.stdout_lines | length != 1
  ansible.builtin.shell:
    cmd: wc -l </root/.ssh/authorized_keys
  register: _result

- name: Create swapfile for tiny systems (e.g. IONOS)
  when: ansible_facts.memtotal_mb < 2048 and tor_port > 0
  ansible.builtin.shell:
    cmd: |-
      set -euf

      fallocate -l 2G /swapfile
      chmod 600 /swapfile
      mkswap /swapfile
      if ! grep -q "^/swapfile " /etc/fstab; then
        echo "/swapfile  none  swap  defaults  0  0" >>/etc/fstab
      fi
      swapon /swapfile
    creates: /swapfile

- name: Suppress motd
  ansible.builtin.copy:
    content: ""
    dest: /root/.hushlogin

- name: Disable motd
  changed_when: false
  ansible.builtin.shell:
    cmd: |-
      chmod -x /etc/update-motd.d/*
