---
- name: Custom command
  block:
    - name: Run a custom command
      changed_when: false
      ansible.builtin.shell:
        cmd: |-
          {{ lookup('ansible.builtin.file', custom_command_file) }}
        executable: /bin/bash
      register: _result
  rescue:
    - name: Rc of custom command
      failed_when: true
      ansible.builtin.debug:
        var: _result.rc
  always:
    - name: Stdout of custom command
      when: _result.stdout | length > 0
      changed_when: true
      ansible.builtin.debug:
        var: _result.stdout_lines

    - name: Stderr of custom command
      when: _result.stderr | length > 0
      changed_when: true
      ansible.builtin.debug:
        var: _result.stderr_lines
