---
- name: Gather facts - IPv6
  ansible.builtin.setup:
    gather_subset:
      - "!all"
      - "!min"
      - default_ipv6

- name: Ensure IPv6 address has valid prefix
  ansible.builtin.assert:
    quiet: true
    that:
      - "ansible_facts.default_ipv6.address | length > 0"
      - "ansible_facts.default_ipv6.address is not match('fe80::')"

- name: Set a pseudo-randomly choosen ipv6 address
  when: ansible_facts.default_ipv6.address != _ipv6_new
  vars:
    _a: "{{ '%x' % (range(0, 65535) |
      random(seed=seed_address + seed_host + 'A' + _ipv6_prefix)) }}"
    _b: "{{ '%x' % (range(0, 65535) |
      random(seed=seed_address + seed_host + 'B' + _ipv6_prefix)) }}"
    _c: "{{ '%x' % (range(0, 65535) |
      random(seed=seed_address + seed_host + 'C' + _ipv6_prefix)) }}"
    _d: "{{ '%x' % (range(0, 65535) |
      random(seed=seed_address + seed_host + 'D' + _ipv6_prefix)) }}"
    _ipv6_prefix: "{{ (ansible_facts.default_ipv6.address | split(':'))[:4] | join(':') }}"
    _ipv6_new: "{{ _ipv6_prefix }}:{{ _a }}:{{ _b }}:{{ _c }}:{{ _d }}"
  block:
    - name: Change IPv6 for Debian
      when: ansible_facts.distribution == 'Debian'
      block:
        - name: Set IPv6 address
          ansible.builtin.lineinfile:
            line: "    address {{ _ipv6_new }}/64"
            path: /etc/network/interfaces.d/50-cloud-init
            regexp: "^    address "

        - name: Activate new IPv6 address
          ansible.builtin.systemd_service:
            name: networking
            state: restarted

    - name: Change IPv6 for Ubuntu
      when: ansible_facts.distribution == 'Ubuntu'
      block:
        - name: Set IPv6 address
          ansible.builtin.lineinfile:
            line: '      - "{{ _ipv6_new }}/64"'
            path: /etc/netplan/50-cloud-init.yaml
            regex: '      - "{{ _ipv6_prefix }}:'
            mode: "0600"

        - name: Activate new IPv6 address
          changed_when: true
          ansible.builtin.shell:
            cmd: |-
              set -e

              netplan generate
              netplan apply

    - name: Check that IPv6 is up and confirmed
      changed_when: false
      ansible.builtin.shell:
        cmd: |-
          while ip -6 a | grep -q ' tentative'; do
            sleep 1
          done

    - name: Gather facts - IPv6
      ansible.builtin.setup:
        gather_subset:
          - "!all"
          - "!min"
          - default_ipv6
