---
# Hint: facts cache is not updated if "--tags" or "--limit" is used
- name: Gather facts - subset
  ansible.builtin.setup:
    gather_subset:
      - "!all"
      - "!min"
      - all_ipv4_addresses
      - all_ipv6_addresses
      - architecture
      - default_ipv4
      - default_ipv6
      - distribution
      - hardware
  tags:
    - facts

- name: Validate
  ansible.builtin.import_tasks: validate.yaml
  tags:
    - validate

- name: Main
  module_defaults:
    ansible.builtin.apt:
      allow_change_held_packages: true
      autoclean: true
      autoremove: true
      purge: true
      state: latest
    ansible.builtin.copy:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.cron:
      backup: true
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.get_url:
      mode: "0744"
      force: true
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.stat:
      get_attributes: false
      get_checksum: false
      get_mime: false
    ansible.builtin.template:
      owner: root
      group: root
      mode: "0644"
  block:
    - name: Run a custom command
      ansible.builtin.import_tasks: custom-command.yaml
      tags:
        - custom-command
        - never

    - name: Base
      ansible.builtin.import_tasks: base.yaml
      tags:
        - base

    - name: Tools
      when: ansible_facts.os_family == 'Debian'
      ansible.builtin.import_tasks: basetools-apt.yaml
      tags:
        - basetools
        - basetools-apt

    - name: IPv6
      when: ansible_facts.default_ipv6.address is defined
        and ansible_facts.default_ipv6.address | length > 0
        and ansible_facts.default_ipv6.address is not match('fe80::')
      tags:
        - ipv6
      block:
        - name: IPv6 Hetzner
          when: ansible_facts.system_vendor == 'Hetzner'
          ansible.builtin.import_tasks: ipv6-hetzner.yaml

        - name: IPv6 IONOS
          when: ansible_facts.system_vendor == 'QEMU'
          ansible.builtin.import_tasks: ipv6-ionos.yaml

        - name: Ensure Ipv6 address is non-default
          ansible.builtin.assert:
            quiet: true
            that:
              - "ansible_facts.default_ipv6.address is not match('fe80::')"
              - "ansible_facts.default_ipv6.address is not search('::1$')"

    - name: Firewall
      tags:
        - firewall
      block:
        - name: Firewall tools
          ansible.builtin.import_tasks: firewall-tools.yaml
          tags:
            - firewall
            - firewall-tools

        # all non-Tor
        - name: Firewall base
          when: tor_port == 0
          ansible.builtin.import_tasks: firewall-base.yaml
          tags:
            - firewall
            - firewall-base

        - name: Firewall Snowflake
          when: snowflake_proxies | length > 0
          ansible.builtin.import_tasks: firewall-snowflake.yaml
          tags:
            - firewall
            - firewall-snowflake

        - name: Firewall Tor
          when: tor_port > 0
          ansible.builtin.import_tasks: firewall-tor.yaml
          tags:
            - firewall
            - firewall-tor

    - name: System config
      ansible.builtin.import_tasks: system-config.yaml
      tags:
        - system-config

    - name: Upgrade
      when: ansible_facts.os_family == 'Debian'
      ansible.builtin.import_tasks: upgrade.yaml
      tags:
        - upgrade

    - name: Nginx
      when:
        nginx_metrics or nginx_public_site or nginx_site_directories | length > 0 or
        ddos_metrics or node_metrics or _snowflake_metrics or tor_metrics
      vars:
        _snowflake_metrics: "{{ snowflake_proxies |
          selectattr('state', 'eq', 'present') |
          selectattr('proxy_metrics_port', 'defined') |
          selectattr('proxy_metrics_port', 'gt', 0) |
          length > 0 }}"
      ansible.builtin.import_tasks: nginx.yaml
      tags:
        - nginx

    - name: Nginx config
      ansible.builtin.import_tasks: nginx-config.yaml
      tags:
        - nginx-config

    - name: Create Prometheus config files
      ansible.builtin.import_tasks: targets.yaml
      tags:
        - targets

    - name: Prometheus Node Exporter
      when: node_metrics
      ansible.builtin.import_tasks: node-exporter.yaml
      tags:
        - node-exporter

    - name: Debian kernel flavour
      when: ansible_facts.distribution == 'Debian'
      ansible.builtin.import_tasks: kernel-debian.yaml
      tags:
        - kernel-debian

    - name: Force a reboot
      changed_when: true
      ansible.builtin.debug:
        msg: Reboot was triggered.
      notify: Reboot
      tags:
        - never
        - force-reboot

    - name: Check for a reboot
      ansible.builtin.import_tasks: reboot.yaml
      tags:
        - never
        - reboot

    - name: Flush handlers (common)
      ansible.builtin.meta: flush_handlers
