---
- name: Test for an Nginx installation
  ansible.builtin.stat:
    path: /etc/nginx/conf.d/
  register: _nginx_is_installed

- name: Nginx config
  when: _nginx_is_installed.stat.exists
  block:
    - name: Create nginx site directories
      no_log: true
      ansible.builtin.file:
        path: /var/www/{{ item.dir }}
        state: directory
        mode: "0755"
      loop: "{{ nginx_site_directories }}"

    - name: Configure nginx
      ansible.builtin.template:
        src: nginx.conf.j2
        dest: /etc/nginx/conf.d/tor-relays.conf
      notify: Reload nginx

    - name: Verify nginx config
      changed_when: false
      ansible.builtin.command:
        cmd: nginx -t
