---
- name: Install/Update nginx
  ansible.builtin.apt:
    name:
      - nginx
  notify: Restart nginx

- name: Remove nginx default listener
  ansible.builtin.file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: Reload nginx

- name: Ensure that nginx systemd override dir exists
  ansible.builtin.file:
    path: /etc/systemd/system/nginx.service.d/
    state: directory
    mode: "0755"

- name: Add nginx systemd override
  ansible.builtin.template:
    src: nginx.override.conf.j2
    dest: /etc/systemd/system/nginx.service.d/override.conf
  notify:
    - Reload systemd
    - Restart nginx
