---
- name: Create nginx site directories
  ansible.builtin.file:
    path: /var/www/{{ item.dir }}
    state: directory
    mode: "0755"
  loop_control:
    label: "{{ item.dir }}"
  loop: "{{ nginx_site_directories }}"

- name: Configure nginx
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/conf.d/tor-relays.conf
  notify: Reload nginx

- name: Verify nginx config
  changed_when: false
  ansible.builtin.command:
    cmd: nginx -t

- name: Ensure nginx is started
  ansible.builtin.systemd_service:
    name: nginx
    state: started
    enabled: true
