---
- name: Check if reboot is required
  changed_when: _reboot_required.stat.exists
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: _reboot_required
  notify: Reboot

- name: Check if a reboot is needed by a kernel
  changed_when: _kernel_reboot_needed.rc == 0
  failed_when: _kernel_reboot_needed.rc > 1
  ansible.builtin.shell:
    cmd: |-
      needrestart -r l -b |
        grep -e 'NEEDRESTART-KSTA: 2' -e 'NEEDRESTART-KSTA: 3'
  register: _kernel_reboot_needed
  notify: Reboot

- name: Check if a reboot is needed by a service
  changed_when: _service_reboot_needed.rc == 0
  failed_when: _service_reboot_needed.rc > 1
  ansible.builtin.shell:
    cmd: |-
      needrestart -r l -b |
        grep 'NEEDRESTART-SVC:'
  register: _service_reboot_needed
  notify: Reboot

- name: Flush handlers (reboot)
  ansible.builtin.meta: flush_handlers
