---
- name: Install/Update config software
  ansible.builtin.apt:
    name:
      - cron
      - gdb
      - htop
      - logrotate
      - minicoredumper

- name: Tweak readline
  ansible.builtin.lineinfile:
    line: set enable-bracketed-paste off
    path: /root/.inputrc

- name: Copy configs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - { src: htoprc, dest: /root/.config/htop/ }
    - { src: .selected_editor, dest: /root/ }

- name: Sysctl config
  ansible.builtin.copy:
    src: 20tor-system.conf
    dest: /etc/sysctl.d/
  register: _sysctl

- name: Ensure sysctl values are up to date
  changed_when: _sysctl.changed or _result.stderr | length > 0
  failed_when: false # Ubuntu: sysctl: setting key "kernel.yama.ptrace_scope": Invalid argument
  ansible.builtin.command:
    cmd: sysctl --system >/dev/null
  register: _result

- name: Set crontab vars
  ansible.builtin.cron:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    env: true
  loop:
    - { name: PATH, value: /usr/sbin:/usr/bin:/sbin/:/bin }
    - { name: SHELL, value: /bin/bash }

- name: Ensure kernel crash dumps are made using minicoredumper
  ansible.builtin.cron:
    name: core debug files
    special_time: reboot
    job: >-
      echo '|/usr/sbin/minicoredumper \%P \%u \%g \%s \%t \%h \%e' >/proc/sys/kernel/core_pattern;
      echo 0x7fffffff >/proc/sys/kernel/core_pipe_limit

- name: Ensure system mailfile is not too big
  ansible.builtin.cron:
    name: regulary truncate system mail file
    special_time: daily
    job: >-
      n=$(wc -l </var/mail/mail);
      if [[ $n -gt 10000 ]]; then
      sed -i -e "1,$((n - 10000))d" /var/mail/mail;
      while [[ -s /var/mail/mail ]] && ! head -n 1 /var/mail/mail | grep -q '^From ';
      do
      sed -i -e "1d" /var/mail/mail;
      done;
      fi

- name: Configure journalctl max size
  ansible.builtin.lineinfile:
    line: SystemMaxUse=100M
    path: /etc/systemd/journald.conf
    regexp: "^[#]*SystemMaxUse="
  notify: Restart systemd-journald

- name: Ensure that logrotate systemd override directory does exist
  ansible.builtin.file:
    path: /etc/systemd/system/logrotate.timer.d/
    state: directory
    mode: "0755"
  notify: Reload systemd

- name: Add logrotate systemd override config
  ansible.builtin.template:
    src: logrotate.override.conf.j2
    dest: /etc/systemd/system/logrotate.timer.d/override.conf
  notify: Reload systemd

# both nginx and Tor refuses to start, if IPv6 is not up
- name: Ensure that Networkd wait online systemd override dir exists
  ansible.builtin.file:
    path: /etc/systemd/system/systemd-networkd-wait-online.service.d/
    state: directory
    mode: "0755"

- name: Add Networkd wait online systemd override
  ansible.builtin.template:
    src: networkd-wait-online.override.conf.j2
    dest: /etc/systemd/system/systemd-networkd-wait-online.service.d/override.conf
  notify:
    - Reload systemd

- name: Disable apport service
  when: ansible_facts.distribution == 'Ubuntu'
  ansible.builtin.systemd_service:
    name: apport
    state: stopped
    enabled: false
    no_block: true

- name: Configure Git for tiny systems
  when: ansible_facts.memtotal_mb < 4096 or ansible_facts.processor_vcpus < 4
  changed_when: false
  ansible.builtin.command:
    cmd: >-
      git config --global {{ item }}
  loop:
    - gc.autoDetach false
    - pack.packSizeLimit 200m
    - pack.threads "{{ ansible_facts.processor_vcpus }}"
    - pack.windowMemory 100m

- name: Enable and start systat
  ansible.builtin.systemd_service:
    name: sysstat
    state: started

- name: Stop and disable services
  when: ansible_facts.os_family == 'Debian'
  failed_when: false
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - fstrim.timer

- name: De-install packages
  when: ansible_facts.os_family == 'Debian'
  ansible.builtin.apt:
    name:
      - exim4
      - multipathd
    state: absent
