---
- name: Upgrade system
  environment:
    DEBIAN_FRONTEND: noninteractive
  block:
    - name: Apt upgrade
      ansible.builtin.apt:
        upgrade: full

    - name: Reboot (after upgrade)
      ansible.builtin.import_tasks: reboot.yaml

    - name: New release
      when: ansible_facts.distribution == 'Debian' and
        desired_debian_release | length > 0 and
        desired_debian_release != ansible_facts.distribution_release
      block:
        - name: Upgrade to new release
          changed_when: true
          ansible.builtin.shell:
            cmd: |-
              set -e

              sed -i 's/{{ ansible_facts.distribution_release }}/{{ desired_debian_release }}/g' \
                /etc/apt/sources.list /etc/apt/sources.list.d/*
              apt update
              apt full-upgrade -y -o "Dpkg::Options::=--force-confdef" -o "Dpkg::Options::=--force-confold"

        - name: Reboot (after new release)
          ansible.builtin.import_tasks: reboot.yaml

        - name: Finish new release
          changed_when: true
          ansible.builtin.shell:
            cmd: |-
              set -e

              apt -y autoremove
              apt clean
              apt -y modernize-sources

        - name: Gather facts - upgrade
          ansible.builtin.setup:
            gather_subset:
              - "!all"
              - "!min"
              - distribution
