---
- name: Validate OS
  ansible.builtin.assert:
    quiet: true
    that:
      - "ansible_facts.os_family == 'Debian'"

- name: Validate metrics_port
  ansible.builtin.assert:
    quiet: true
    that:
      - "ansible_facts.default_ipv6.address is defined"
      - "ansible_facts.default_ipv6.address | length > 0"
      - "ansible_facts.default_ipv6.address is not match('fe80::')"

- name: Validate additional_ports
  when: additional_ports | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "additional_ports | unique | length == additional_ports | length"

- name: Validate metrics_port
  when: metrics_port > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "metrics_port > 0 and metrics_port < 2**16"

- name: Validate prometheus_server
  when: prometheus_server | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "prometheus_server is ansible.utils.ipv4"

- name: Validate additional_ports
  when: additional_ports | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "additional_ports | unique | length == additional_ports | length"

- name: Validate prometheus_server IPv6
  when: prometheus_server6 | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "prometheus_server6 is ansible.utils.ipv6"

- name: Validate RAM for kernel build from source
  when: kernel_git_repo_url | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "ansible_facts.memtotal_mb > 1024"

- name: Validate Nginx site directories
  when: nginx_site_directories | length > 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "nginx_site_directories | selectattr('dir', 'eq', '') | length == 0"
      - "nginx_site_directories | selectattr('dir', 'contains', '/') | length == 0"
      - "nginx_site_directories | selectattr('dir', 'eq', 'html') | length == 0"
      - "nginx_site_directories | selectattr('port', 'lt', 1) | length == 0"
      - "nginx_site_directories | selectattr('port', 'gt', 65535) | length == 0"
      - "nginx_site_directories | selectattr('dir') | length > 0"
      - "nginx_site_directories | selectattr('dir') | length == nginx_site_directories | selectattr('port') | length"

- name: Validate snowflake_proxies
  ansible.builtin.assert:
    quiet: true
    that:
      - "snowflake_proxies | selectattr('state', 'eq', 'present') | selectattr('proxy_metrics_port', 'defined') |
        selectattr('proxy_metrics_port', 'lt', 1) | length == 0"
