---
- name: Reload systemd
  listen: Reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart Tor
  listen: Restart Tor
  ansible.builtin.systemd_service:
    name: tor
    state: restarted
    enabled: true

- name: Reload Tor
  listen: Reload Tor
  ansible.builtin.systemd_service:
    name: tor
    state: reloaded
    enabled: true

# https://gitlab.torproject.org/tpo/core/tor/-/issues/41189
- name: Catch a race
  listen:
    - Reload Tor
    - Restart Tor
  retries: 3
  ansible.builtin.systemd_service:
    name: tor
    state: started
    enabled: true
