# {{ ansible_managed }}

auto lo
iface lo inet loopback

auto {{ ansible_facts.default_ipv4.interface }}
iface {{ ansible_facts.default_ipv4.interface }} inet dhcp

iface {{ ansible_facts.default_ipv6.interface }} inet6 static
    address {{ _ipv6_new }}/{{ ansible_facts.default_ipv6.prefix }} dev {{ ansible_facts.default_ipv6.interface }}
    dns-nameservers{% for ns in ansible_facts.dns.nameservers %}{% if ns is search ':' %} {{ ns }}{% endif %}{% endfor %}

    gateway fe80::1
