# {{ ansible_managed }}

# https://wiki.debian.org/UnattendedUpgrades
[Timer]
OnCalendar=
OnCalendar=*-*-* {{ 12 | random(seed=inventory_hostname) }},{{ 12 + 12 | random(seed=inventory_hostname) }}:00
RandomizedDelaySec=0

