[defaults]
interpreter_python = /usr/bin/python3
ssh_args = -C -o IdentitiesOnly=yes -o AddressFamily=inet -o Compression=yes -o ControlMaster=auto -o ControlPersist=60s -o GSSAPIAuthentication=no -o Protocol=2 -o ServerAliveInterval=60s

forks = 50
pipelining = True
poll_interval = 5

inject_facts_as_vars = false
fact_caching = jsonfile
fact_caching_connection = ./.ansible_facts
fact_caching_timeout = 7200
gathering = smart

strategy = free

no_target_syslog = True

remote_user = root
