[defaults]
interpreter_python = /usr/bin/python3

inventory = ./inventory

forks = 32
pipelining = True
strategy = ansible.builtin.free

gathering = smart
inject_facts_as_vars = false
# keep it parseable
fact_caching = jsonfile
fact_caching_connection = ./.ansible_facts

remote_user = root

# compression is discouraged wrt security aspects
ssh_args = -o Compression=no -o StrictHostKeyChecking=on -o ControlMaster=auto -o ControlPersist=60s

# reduce noise
display_skipped_hosts = false

# timer stats (for debug/profiling)
# callbacks_enabled=ansible.posix.profile_tasks

# would clash with the grep of syslog
no_target_syslog = True
