---
- name: Reload systemd
  listen: Reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart Snowflake
  listen: Restart Snowflake
  ansible.builtin.systemd_service:
    name: "{{ item.name }}"
    state: restarted
  loop_control:
    label: "{{ item.name }}"
  loop: "{{ snowflake_proxies | selectattr('state', 'eq', 'present') }}"
