---
# update starts at hh:02, # upgrade starts between hh:10 and hh:30, possible reboot between hh:35 and hh:58

- name: Install/Update unattended software
  ansible.builtin.apt:
    name:
      - unattended-upgrades

- name: Configure needrestart
  ansible.builtin.lineinfile:
    line: "$nrconf{restart} = 'a';"
    path: /etc/needrestart/conf.d/auto-restart.conf

- name: Create timer.d directories
  ansible.builtin.file:
    state: directory
    path: "/etc/systemd/system/{{ item }}"
    mode: "0755"
  with_items:
    - apt-daily.timer.d/
    - apt-daily-upgrade.timer.d/

# 2x per day at :02
- name: Configure apt timer
  ansible.builtin.template:
    src: apt_timer.j2
    dest: /etc/systemd/system/apt-daily.timer.d/override.conf
  notify: Reload systemd

# 2x per day at :15
- name: Configure apt upgrade timer
  ansible.builtin.template:
    src: apt_upgrade.j2
    dest: /etc/systemd/system/apt-daily-upgrade.timer.d/override.conf
  notify: Reload systemd

# 2x per day at :40
- name: Ensure reboot-required cron job is present
  ansible.builtin.cron:
    name: Reboot if required
    hour: "{{ timer_hour1 }},{{ timer_hour2 }}"
    minute: "{{ (40 + 5) | random(seed=seed_host) }}"
    job: >-
      if grep -q 'System restart required' /var/run/reboot-required 2>/dev/null; then
      pgrep -af 'sshd:' | grep -q -v '/usr/sbin/sshd' || reboot;
      fi

# 2x per day at :50
- name: Ensure needrestart cron job is present
  ansible.builtin.cron:
    name: Reboot if needrestart adviced it
    hour: "{{ timer_hour1 }},{{ timer_hour2 }}"
    minute: "{{ 50 + 5 | random(seed=seed_host) }}"
    job: >-
      if needrestart -r l -b | grep -q -e 'NEEDRESTART-KSTA: 2' -e 'NEEDRESTART-KSTA: 3' -e 'NEEDRESTART-SVC:'; then
      pgrep -af 'sshd:' | grep -q -v '/usr/sbin/sshd' || reboot;
      fi

# 2x per day at :58
- name: Ensure reaper cron job is present
  ansible.builtin.cron:
    name: Reap a hanging apt process
    hour: "{{ timer_hour1 }},{{ timer_hour2 }}"
    minute: 58
    job: >-
      pkill -f "apt-get -qq -y update"
