---
- name: Main
  when: autoupdate_skip | bool
  module_defaults:
    ansible.builtin.apt:
      allow_change_held_packages: true
      autoclean: true
      autoremove: true
      purge: true
      state: latest
    ansible.builtin.copy:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.cron:
      backup: true
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.template:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.systemd_service:
      daemon_reload: true
      enabled: true
      no_block: true
  block:
    - name: Configure unattended update of Debian
      when: ansible_facts.distribution == 'Debian'
      ansible.builtin.import_tasks: autoupdate-debian.yaml
      tags:
        - autoupdate

    - name: Enable unattended update
      when: ansible_facts.os_family == 'Debian'
      ansible.builtin.import_tasks: autoupdate-apt.yaml
      tags:
        - autoupdate

    - name: Flush handlers (autoupdate)
      ansible.builtin.meta: flush_handlers
