# {{ ansible_managed }}

[Unit]
Description={{ item.name }}
Documentation={{ item.git_url }}
After=network-online.target docker.socket firewalld.service systemd-networkd-wait-online.service
Wants=network-online.target
StartLimitInterval=0

[Service]
ExecStart=/usr/bin/{{ item.name }} {{ item.command_args }}
User={{ item.name }}
Group={{ item.name }}
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Sandboxing
ProtectSystem=strict
ProtectHome=tmpfs
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
NoNewPrivileges=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
ProtectProc=invisible
PrivateUsers=true
ProtectHostname=true
Restart=on-failure
RestartSec=5s
ReadOnlyDirectories=/
ReadWriteDirectories=-/proc
ReadWriteDirectories=-/run

[Install]
WantedBy=multi-user.target
