# {{ ansible_managed }}

[Unit]
Description=snowflake-proxy
Documentation=man:snowflake-proxy
Documentation=https://snowflake.torproject.org/
After=network-online.target docker.socket firewalld.service
Wants=network-online.target

[Service]
{% if snowflake_metrics is true %}
ExecStart=/usr/bin/snowflake-proxy {{ snowflake_command_args }} -metrics -summary-interval 0h0m15s
{% else %}
ExecStart=/usr/bin/snowflake-proxy {{ snowflake_command_args }}
{% endif %}
User=snowflake
Group=snowflake
# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Sandboxing
ProtectSystem=strict
ProtectHome=tmpfs
PrivateTmp=true
PrivateDevices=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
NoNewPrivileges=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
ProtectProc=invisible
PrivateUsers=true
ProtectHostname=true
Restart=on-failure
RestartSec=5s
ReadOnlyDirectories=/
ReadWriteDirectories=-/proc
ReadWriteDirectories=-/run

[Install]
WantedBy=multi-user.target
