---
- name: Main
  module_defaults:
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
  block:
    - name: Block
      tags:
        - connections
      block:
        - name: Connections
          ansible.builtin.include_tasks: _connections.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies }}"

    - name: Block
      tags:
        - log-nat
      block:
        - name: Log NAT
          ansible.builtin.include_tasks: _log-nat.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies }}"

    - name: Block
      tags:
        - log-proxy
      block:
        - name: Log proxy
          ansible.builtin.include_tasks: _log-proxy.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies | selectattr('state', 'eq', 'present') }}"

    - name: Block
      tags:
        - process-runtime
      block:
        - name: Process runtime
          ansible.builtin.include_tasks: _process-runtime.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies }}"

    - name: Block
      tags:
        - systemd-time
      block:
        - name: Systemd time
          ansible.builtin.include_tasks: _systemd-time.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies }}"

    - name: Block
      tags:
        - version
      block:
        - name: Version of Snowflake
          ansible.builtin.include_tasks: _version.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies }}"
