---
kernel_git_build_wait: true
kernel_git_build_wait_retries: 60 # count
kernel_git_build_wait_delay: 60 # seconds in between
kernel_git_repo_url: ""
kernel_git_version: ""
kernel_git_patches: []

# for reboot handler
tor_port: 0
