---
- name: Work on "{{ _repo_dir }}"
  vars:
    _git_repo_url: "{{ kernel_git_repo_url }}"
    _git_version: "{{ kernel_git_version }}"
    _git_patches: "{{ kernel_git_patches }}"
    _repo_dir: /root/linux
  ansible.builtin.include_tasks: "{{ role_path }}/../../../playbooks/roles/lib/_git.yaml"

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Gather facts
  ansible.builtin.setup:
    gather_subset:
      - kernel

- name: Configure
  changed_when: _kernel_configured.rc == 123
  failed_when: _kernel_configured.rc not in (0, 123)
  ansible.builtin.shell:
    cmd: |-
      set -euf

      before=$(grep -v '^#' .config 2>/dev/null | md5sum)

      cp /boot/config-{{ ansible_facts.kernel }} .config
      # force module loading
      ss >/dev/null
      yes '' | make localmodconfig >/dev/null
      cat <<EOF >>.config
      {{ kernel_git_config }}
      EOF
      yes '' | make oldconfig >/dev/null
      if [[ {{ ansible_facts.distribution }} == 'Ubuntu' ]]; then
        scripts/config --disable SYSTEM_REVOCATION_KEYS
        scripts/config --disable SYSTEM_TRUSTED_KEYS
      fi

      after=$(grep -v '^#' .config | md5sum)
      if [[ $before != $after ]]; then
        exit 123 # to mark this Ansible task as "changed"
      fi
    chdir: /root/linux
    executable: /bin/bash
  register: _kernel_configured

- name: Copy build script
  ansible.builtin.copy:
    src: kernel-build.sh
    dest: /root/
    mode: "0744"
  register: _kernel_make_script

- name: Make
  tags:
    - kernel-make
  when: ('kernel-make' in ansible_run_tags) or
    _git_repo_changed or _kernel_configured.changed or _kernel_make_script.changed or not _latest_is_running
  vars:
    _commit_id: "{{ _git_head.before[:12] | default('n/a') }}"
    _latest_is_running: "{{ ansible_facts.kernel is search(_commit_id) }}"
  block:
    - name: Stop unattended upgrade
      ansible.builtin.systemd_service:
        name: "{{ item }}"
        state: stopped
      loop:
        - apt-daily.timer
        - apt-daily-upgrade.timer
        - unattended-upgrades

    - name: Make nowait
      when: not (kernel_git_build_wait | bool)
      changed_when: true
      ansible.builtin.shell:
        cmd: >-
          echo /root/kernel-build.sh reboot | at now

    - name: Make wait
      when: kernel_git_build_wait | bool
      block:
        - name: Make
          changed_when: true
          async: "{{ kernel_git_build_wait_retries * kernel_git_build_wait_delay }}"
          poll: 0
          ansible.builtin.shell:
            cmd: >-
              /root/kernel-build.sh
          register: _kernel_make

        - name: Poll job
          retries: "{{ kernel_git_build_wait_retries }}"
          delay: "{{ kernel_git_build_wait_delay }}"
          until: _job_result.finished
          ansible.builtin.async_status:
            jid: "{{ _kernel_make.ansible_job_id }}"
          register: _job_result

        - name: Cleanup job
          ansible.builtin.async_status:
            jid: "{{ _kernel_make.ansible_job_id }}"
            mode: cleanup

        - name: Reboot
          ansible.builtin.reboot:
            reboot_timeout: 180
            reboot_command: systemctl reboot
