---
- name: Work on "{{ _repo_dir }}"
  vars:
    _git_repo_url: "{{ kernel_git_repo_url }}"
    _git_version: "{{ kernel_git_version }}"
    _git_patches: "{{ kernel_git_patches }}"
    _repo_dir: /root/linux
  ansible.builtin.include_tasks: "{{ role_path }}/../../../playbooks/roles/lib/_git.yaml"
