---
- name: Snapshot
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  environment:
    PATH: "{{ lookup('env', 'PATH') }}:{{ lookup('env', 'HOME') }}/bin"
  block:
    - name: Create
      changed_when: true
      ansible.builtin.command:
        cmd: >-
          hcloud --quiet --poll-interval 10s server create-image
            --type snapshot --description='{{ snapshot_description }}' {{ inventory_hostname }}

    - name: Delete outdated
      changed_when: true
      failed_when: false
      ansible.builtin.shell:
        cmd: |-
          hcloud --quiet image list --type snapshot --output noheader --output columns=id,description |
            grep -e " {{ snapshot_description }}[ ]*$" |
            sort -rn |
            awk 'x[$2]++ { print $1 }' |
            xargs -r hcloud --quiet --poll-interval 5s image delete
      register: _result

    - name: Delete failure
      when: _result.rc != 0
      changed_when: true
      ansible.builtin.debug:
        var: _result
