---
- name: Set sysctl max user namespaces
  ansible.posix.sysctl:
    name: user.max_user_namespaces
    # https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake/-/issues/40287
    value: "{{ snowflake_proxies | selectattr('state', 'eq', 'present') | length * 2 + 2 }}"
    sysctl_file: /etc/sysctl.d/21tor-snowflake.conf
    sysctl_set: true

- name: GeoIP directory
  ansible.builtin.file:
    state: "{{ (use_tor_geoip_data | bool) | ternary('directory', 'absent') }}"
    path: /usr/share/tor/
    mode: "0755"
  notify: Restart Snowflake

- name: Get GeoIP data
  when: use_tor_geoip_data | bool
  throttle: 16
  retries: 3
  ansible.builtin.get_url:
    url: "https://gitlab.torproject.org/tpo/core/tor/-/raw/main/src/config/{{ item }}"
    dest: /usr/share/tor/
  with_items:
    - geoip
    - geoip6
  notify: Restart Snowflake
