---
- name: Validate
  ansible.builtin.import_tasks: validate.yaml
  tags:
    - validate

- name: Main
  module_defaults:
    ansible.builtin.apt:
      allow_change_held_packages: true
      autoclean: true
      autoremove: true
      purge: true
      state: latest
    ansible.builtin.copy:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.systemd_service:
      enabled: true
      no_block: true
  block:
    - name: Tools
      ansible.builtin.import_tasks: tools.yaml
      tags:
        - tools

    - name: Build
      tags:
        - snowflake
      block:
        - name: Add
          ansible.builtin.include_tasks: _snowflake-setup.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies | selectattr('state', 'eq', 'present') }}"

        - name: Remove
          ansible.builtin.include_tasks: _snowflake-remove.yaml
          loop_control:
            label: "{{ item.name }}"
          loop: "{{ snowflake_proxies | selectattr('state', 'eq', 'absent') }}"

    - name: Configure
      ansible.builtin.import_tasks: config.yaml
      tags:
        - config
        - geoip
