#!/bin/bash
# set -x

set -euf

cd ~/linux

j={{ (ansible_facts.memtotal_mb <= 2048) | ternary(1, ansible_facts.processor_vcpus) }}
make -j $j            >/root/make.$$.log
make modules_install  >/root/make-modules_install.$$.log
make install          >/root/make-install.$$.log

kver=$(make kernelversion)
lver=$(KERNELVERSION=$kver ./scripts/setlocalversion)
grub_entry="Advanced options for Debian GNU/Linux>Debian GNU/Linux, with Linux $lver"
sed -i -e "s#^GRUB_DEFAULT=.*#GRUB_DEFAULT=\"${grub_entry}\"#" /etc/default/grub
update-grub

ln -snf $PWD /usr/src/linux

# reboot-required is the safety net if Ansible fails to catch the async result
{{ fire_and_forget | ternary("reboot", "touch /var/run/reboot-required") }}
