#!/usr/bin/env bash
# set -x
# {{ ansible_managed }}

function clearAll() {
  $ipt -P INPUT ACCEPT
  $ipt -F INPUT
  $ipt -Z INPUT
}

function addRules() {
  # allow loopback
  $ipt -A INPUT --in-interface lo -m comment --comment "Base IPv6 $(date -R)" -j ACCEPT

  # do not touch established connections
  $ipt -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  $ipt -A INPUT -m conntrack --ctstate INVALID -j DROP

  # make sure NEW incoming tcp connections are SYN packets
  $ipt -A INPUT -p tcp ! --syn -m conntrack --ctstate NEW -j DROP

  # ssh
  $ipt -A INPUT -p tcp --dport 22 -j ACCEPT

  # tarpit
  $ipt -A INPUT -m set --match-set $tarpitlist src -j DROP

  # see RFC 4890

  # IPv6 Path MTU Discovery
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type destination-unreachable -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type packet-too-big -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type time-exceeded -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type parameter-problem -j ACCEPT

  # Neighbor Discovery Protocol - prevent Remote-Spoofing
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type router-solicitation -m hl --hl-eq 255 -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type router-advertisement -m hl --hl-eq 255 -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type neighbor-solicitation -m hl --hl-eq 255 -j ACCEPT
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type neighbor-advertisement -m hl --hl-eq 255 -j ACCEPT

  # ping
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type echo-request -m limit --limit 6/s --limit-burst 10 -j ACCEPT

  # not at a server
  $ipt -A INPUT -p ipv6-icmp --icmpv6-type redirect -j DROP

  # DHCPv6 from server to client
  $ipt -A INPUT -p udp --sport 547 --dport 546 -j ACCEPT

  # IPv6 Multicast
  $ipt -A INPUT -p udp --source fe80::/10 --dst ff02::/80 -j ACCEPT
{% if metrics_port > 0 and prometheus_server_v6 | length > 0 %}

  # Prometheus scrape metrics
  $ipt -A INPUT -p tcp --src {{ prometheus_server_v6 }} --dst {{ ansible_facts.default_ipv6.address }} --dport {{ metrics_port }} -j ACCEPT
{%endif %}
{% for _i in ingress_ports %}
{% set _mp = (_i is search(',')) | ternary('--match multiport --dports', '--dport') %}

  # ingress_ports {{ _i }}
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv6.address }} {{ _mp }} {{ _i }} \
    -m hashlimit --hashlimit-name ingress_ports-{{ _i }} --hashlimit-mode srcip,dstport \
    --hashlimit-htable-max $max --hashlimit-htable-size $((max / 4)) \
    --hashlimit-srcmask 64 --hashlimit-htable-expire $((2 * 60 * 1000)) \
    --hashlimit-upto 60/minute --hashlimit-burst 10 -j ACCEPT
{% endfor %}
{% if is_snowflake %}

  # snowflake
  $ipt -A INPUT -p udp --dst {{ ansible_facts.default_ipv6.address }} --dport 32768:60999 -j ACCEPT
{% endif %}

  # tarpit
  $ipt -A INPUT -p tcp -j SET --add-set $tarpitlist src --exist

  # default ingress policy
  $ipt -P INPUT DROP
}

#######################################################################
set -euf
export LANG=C.utf8
export PATH=/usr/sbin:/usr/bin:/sbin/:/bin

ipt="ip6tables"

# see https://github.com/toralf/torutils/blob/main/ipv6-rules.sh#L295
max={{ (ansible_facts.memtotal_mb < 1024) | ternary(2**18, 2**19) }}

trap clearAll INT QUIT TERM EXIT
if [[ ${1-} == "start" ]]; then
  clearAll
  tarpitlist="torutils-tarpit-v6"
  cmd="ipset create -exist $tarpitlist hash:ip netmask 64 maxelem $max timeout 86400 family inet6"
  if ! $cmd; then
    ipset destroy $tarpitlist
    $cmd
  fi
  addRules
else
  date -R
  echo
  $ipt -nv -L INPUT
fi
trap - INT QUIT TERM EXIT
