#!/usr/bin/env bash
# set -x
# {{ ansible_managed }}

function clearAll() {
  $ipt -P INPUT ACCEPT
  $ipt -F INPUT
  $ipt -Z INPUT
}

function addRules() {
  # allow loopback
  $ipt -A INPUT --in-interface lo -m comment --comment "Base IPv4 $(date -R)" -j ACCEPT

  # do not touch established connections
  $ipt -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  $ipt -A INPUT -m conntrack --ctstate INVALID -j DROP

  # make sure NEW incoming tcp connections are SYN packets
  $ipt -A INPUT -p tcp ! --syn -m conntrack --ctstate NEW -j DROP

  # ssh
  $ipt -A INPUT -p tcp --dport 22 --syn -j ACCEPT

  # tarpit
  $ipt -A INPUT -m set --match-set $tarpitlist src -j DROP

  #  PMTUD
  $ipt -A INPUT -p icmp --icmp-type destination-unreachable -j ACCEPT
  $ipt -A INPUT -p icmp --icmp-type time-exceeded -j ACCEPT
  $ipt -A INPUT -p icmp --icmp-type parameter-problem -j ACCEPT

  # ping
  $ipt -A INPUT -p icmp --icmp-type echo-request -m limit --limit 6/s --limit-burst 10 -j ACCEPT

  # DHCPv4 from server to client
  $ipt -A INPUT -p udp --sport 67 --dport 68 -j ACCEPT
{% if metrics_port > 0 and prometheus_server_v4 | length > 0 %}

  # Prometheus scrape metrics
  $ipt -A INPUT -p tcp --src {{ prometheus_server_v4 }} --dst {{ ansible_facts.default_ipv4.address }} --dport {{ metrics_port }} --syn -j ACCEPT
{%endif %}
{% for _i in ingress_ports %}
{% set _mp = (_i is search(',') or _i is search(':')) | ternary('--match multiport --dports', '--dport') %}

  # ingress_ports {{ _i }}
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} {{ _mp }} {{ _i }} \
    -m hashlimit --hashlimit-name ingress_ports-{{ _i }} --hashlimit-mode srcip,dstport \
    --hashlimit-htable-max $max --hashlimit-htable-size $((max / 4)) \
    --hashlimit-srcmask 32 --hashlimit-htable-expire $((2 * 60 * 1000)) \
    --hashlimit-upto 60/minute --hashlimit-burst 10 -j ACCEPT
{% endfor %}
{% if is_snowflake %}

  # snowflake
  $ipt -A INPUT -p udp --dst {{ ansible_facts.default_ipv4.address }} --match multiport --dports 32768:60999 -j ACCEPT
{% endif %}

  # tarpit
  $ipt -A INPUT -p tcp -j SET --add-set $tarpitlist src --exist

  # default ingress policy
  $ipt -P INPUT DROP
}

#######################################################################
set -euf

modprobe nf_conntrack
ipt="iptables"

# see https://github.com/toralf/torutils/blob/main/ipv4-rules.sh#L300
max={{ (ansible_facts.memtotal_mb < 1024) | ternary(2**18, 2**19) }}
sysctl -w net.netfilter.nf_conntrack_buckets=$max >/dev/null
sysctl -w net.netfilter.nf_conntrack_max=$max >/dev/null

tarpitlist="torutils-tarpit-v4"
cmd="ipset create -exist $tarpitlist hash:ip netmask 32 maxelem $max timeout 86400 family inet"
if ! $cmd; then
  ipset destroy $tarpitlist
  $cmd
fi

trap clearAll INT QUIT TERM EXIT
if [[ $1 == "start" ]]; then
  clearAll
  addRules
else
  $1
fi
trap - INT QUIT TERM EXIT
