#!/usr/bin/env bash
# set -x
# {{ ansible_managed }}

function clearAll() {
  $ipt -P INPUT ACCEPT
  $ipt -P OUTPUT ACCEPT

  for table in filter nat; do
    $ipt -F -t $table
    $ipt -X -t $table
    $ipt -Z -t $table
  done
}

function addRules() {
  $ipt -P INPUT DROP
  $ipt -P OUTPUT ACCEPT

  # allow loopback
  $ipt -A INPUT --in-interface lo -m comment --comment "Firewall IPv4 $(date -R)" -j ACCEPT

  # make sure NEW incoming tcp connections are SYN packets
  $ipt -A INPUT -p tcp ! --syn -m state --state NEW -j DROP
  $ipt -A INPUT -m conntrack --ctstate INVALID -j DROP

  # do not touch established connections
  $ipt -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

  # ssh
  $ipt -A INPUT -p tcp --dport 22 --syn -j ACCEPT

  # ratelimit ICMP echo
  $ipt -A INPUT -p icmp --icmp-type echo-request -m limit --limit 6/s -j ACCEPT
  $ipt -A INPUT -p icmp --icmp-type echo-request -j DROP

  # DHCPv4
  $ipt -A INPUT -p udp --dport 68 -j ACCEPT
{% if metrics_port > 0 and prometheus_server | length > 0 %}

  # Prometheus scrape metrics
  $ipt -A INPUT -p tcp --src {{ prometheus_server }} --dst {{ ansible_facts.default_ipv4.address }} --dport {{ metrics_port }} --syn -j ACCEPT
{%endif %}
{% for _i in additional_ports %}

  # additional port {{ _i }}
{% if _i is search(',') or _i is search(':') %}
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --match multiport --dports {{ _i }} -m hashlimit --hashlimit-mode srcip,dstport --hashlimit-srcmask 32 --hashlimit-name port-{{ _i }} --hashlimit-above 60/minute --hashlimit-burst 1 --hashlimit-htable-expire {{ 2 * 60 * 1000 }} -j DROP
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --match multiport --dports {{ _i }} --syn -j ACCEPT
{% else %}
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --dport {{ _i }} -m hashlimit --hashlimit-mode srcip,dstport --hashlimit-srcmask 32 --hashlimit-name port-{{ _i }} --hashlimit-above 60/minute --hashlimit-burst 1 --hashlimit-htable-expire {{ 2 * 60 * 1000 }} -j DROP
  $ipt -A INPUT -p tcp --dst {{ ansible_facts.default_ipv4.address }} --dport {{ _i }} --syn -j ACCEPT
{% endif %}
{% endfor %}
}

#######################################################################
set -euf

ipt="iptables"

# jump out if this fails
$ipt -nv -L INPUT >/dev/null

modprobe nf_conntrack
{% set _max = (ansible_facts.memtotal_mb < 1024) | ternary(2**16, 2**18) %}
sysctl -w net.netfilter.nf_conntrack_buckets={{ _max }} >/dev/null
sysctl -w net.netfilter.nf_conntrack_max={{ _max }} >/dev/null

trap clearAll INT QUIT TERM EXIT
if [[ $1 == "start" ]]; then
  clearAll
  addRules
else
  $1
fi
trap - INT QUIT TERM EXIT
