# {{ ansible_managed }}

server {
{% if metrics_port %}
{% if prometheus_server %}
  listen {{ ansible_facts.default_ipv4.address }}:{{ metrics_port }} ssl http2;
{% else %}
  listen 127.0.0.1:{{ metrics_port }} ssl http2;
{% endif %}
{% endif %}
{% if node_metrics %}

  location = /metrics-node {
    proxy_pass http://127.0.0.1:9100/metrics;
  }
{% endif %}
{% if tor_metrics is defined and tor_metrics %}

  location = /metrics-tor {
    proxy_pass http://127.0.0.1:9052/metrics;
  }
{% endif %}
{% if snowflake_metrics is defined and snowflake_metrics %}

  location = /metrics-snowflake {
    proxy_pass http://127.0.0.1:9999/internal/metrics;
  }
{% endif %}

  ssl_protocols TLSv1.3;
  ssl_ciphers HIGH:!aNULL:!MD5;
  ssl_certificate /etc/nginx/conf.d/{{ inventory_hostname }}.crt;
  ssl_certificate_key /etc/nginx/conf.d/{{ inventory_hostname }}.key;
  ssl_conf_command Options KTLS;

  add_header Strict-Transport-Security "max-age=63072000" always;
  access_log off;
  error_log off;
}
