---
tor_build_from_source: true

tor_git_patches: []
tor_git_version: main

lyrebird_git_patches: []
lyrebird_git_version: main

# DDoS solution
torutils_git_version: main

# 2 lists for additional torrc values
torrc_config_group: []
torrc_config_hosts: []

# the ORPort or PT port
tor_port: 0

# safe default: Tor private bridge, an empty string indicates a Tor server
tor_bridge_distribution: none

# CPU consuming
ddos_metrics: false
tor_metrics: false

# file containing the private FamilyId key
tor_secret_family_key_file: ""

# <name, value> elements
torrc_config: []

tor_keys_restore: false

# https://www.1aeo.com/blog/tor-memory-optizations-what-actually-works.html
tor_use_mimalloc: false
