---
- name: Query b.t.o.
  throttle: 16
  ansible.builtin.uri:
    url: "https://bridges.torproject.org/status?id={{ _fingerprint_hashed }}"
    return_content: true
    status_code: [200, 404]
  register: _uri

- name: File b.t.o.
  delegate_to: localhost
  throttle: 1
  vars:
    _content: "{{ _uri.content | default('') }}"
  ansible.builtin.lineinfile:
    line: "{{ inventory_hostname }} {{ _content | split('\n') | select('match', '\\* ') | sort | reverse }}"
    path: "{{ tmp_dir }}/tor_bto"
    regexp: "^{{ inventory_hostname }} "
    state: "{{ _content | ternary('present', 'absent') }}"
