---
- name: Fetch DDoS ipset files
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  failed_when: false # might not yet be created shortly after setup
  ansible.posix.synchronize:
    mode: pull
    src: "/var/tmp/tor-{{ item }}-{{ tor_port }}"
    dest: "{{ infodir }}/{{ item }}/{{ inventory_hostname }}"
    use_ssh_args: true
    verify_host: true
  with_items:
    - ddos
    - ddos6
    - manual
    - manual6
