---
- name: Main
  module_defaults:
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
    ansible.builtin.stat:
      get_attributes: false
      get_checksum: false
      get_mime: false
  block:
    - name: Server and public bridge
      when: tor_bridge_distribution != '' and tor_bridge_distribution != 'none'
      block:
        - name: Get fingerprints
          ansible.builtin.import_tasks: fingerprints.yaml
          tags:
            - bridgeline
            - bto
            - onionoo
            - wellknown

        - name: Bridge stats
          ansible.builtin.import_tasks: bridge-stats.yaml
          tags:
            - bridge-stats

        - name: Bridge line
          ansible.builtin.import_tasks: bridgeline.yaml
          tags:
            - never
            - bridgeline

        - name: Bto
          ansible.builtin.import_tasks: bto.yaml
          tags:
            - bto

        - name: Onionoo
          ansible.builtin.import_tasks: onionoo.yaml
          tags:
            - onionoo

        - name: Wellknown
          ansible.builtin.import_tasks: wellknown.yaml
          tags:
            - never
            - wellknown

    - name: Clients
      ansible.builtin.import_tasks: clients.yaml
      tags:
        - clients

    - name: DDoS ipsets
      ansible.builtin.import_tasks: ddos.yaml
      tags:
        - ddos

    - name: Heartbeat
      ansible.builtin.import_tasks: heartbeat.yaml
      tags:
        - heartbeat

    - name: Log err
      ansible.builtin.import_tasks: log-err.yaml
      tags:
        - log-err

    - name: Log
      ansible.builtin.import_tasks: log-notice.yaml
      tags:
        - log-notice

    - name: Log warn
      ansible.builtin.import_tasks: log-warn.yaml
      tags:
        - log-warn

    - name: Process runtime
      ansible.builtin.import_tasks: process-runtime.yaml
      tags:
        - process-runtime

    - name: Systemd time
      ansible.builtin.import_tasks: systemd-time.yaml
      tags:
        - systemd-time

    - name: Tor keys backup
      when: tor_keys_backup | bool
      ansible.builtin.import_tasks: tor-keys-backup.yaml
      tags:
        - tor-keys-backup

    - name: Version
      ansible.builtin.import_tasks: version.yaml
      tags:
        - version
