---
- name: Get process runtime
  changed_when: false
  ansible.builtin.shell:
    cmd: |-
      ps -eo etimes,cmd --no-headers |
        grep /usr/bin/tor |
        grep -v grep |
        awk '{ printf("%i-%02i\n", $1 / 86400, $1 % 86400 / 3600) }'
  register: _process

- name: File process runtime
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: "{{ inventory_hostname }} etimes {{ _process.stdout | default('-') }}"
    path: "{{ infodir }}/tor_process_runtime"
    regexp: "^{{ inventory_hostname }} "
