---
- name: Get service status
  ansible.builtin.systemd:
    name: tor
  register: _service

- name: File systemd time
  delegate_to: localhost
  throttle: 1
  vars:
    _starttime: "{{ _service.status.ExecMainStartTimestamp | default('-') }}"
    _changetime: "{{ _service.status.StateChangeTimestamp | default('-') }}"
  ansible.builtin.lineinfile:
    line: "{{ inventory_hostname }} Start {{ _starttime }} Change {{ _changetime }}"
    path: "{{ infodir }}/tor_systemd_time"
    regexp: "^{{ inventory_hostname }} "
