---
- name: Test whether keys are here
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  ansible.builtin.stat:
    path: "{{ tmp_dir }}/tor-keys/{{ inventory_hostname }}"
  register: _keys

- name: Sync Tor keys
  delegate_to: localhost
  throttle: "{{ concurrent_local_jobs }}"
  when: not _keys.stat.exists
  ansible.posix.synchronize:
    mode: pull
    src: "/var/lib/tor/keys/{{ item }}"
    dest: "{{ tmp_dir }}/tor-keys/{{ inventory_hostname }}/"
    use_ssh_args: true
    verify_host: true
  loop:
    - ed25519_master_id_public_key
    - ed25519_master_id_secret_key
    - ed25519_signing_cert
    - ed25519_signing_secret_key
    - secret_id_key
