---
# https://github.com/nusenu/ContactInfo-Information-Sharing-Specification

- name: Wellknown for bridges
  throttle: 1
  when: tor_bridge_distribution != '' and tor_bridge_distribution != 'none'
  block:
    - name: Ensure hostname is in wellknown file
      delegate_to: localhost
      ansible.builtin.lineinfile:
        line: "# {{ inventory_hostname }}"
        path: "{{ infodir }}/hashed-bridge-rsa-fingerprint.txt"

    - name: Ensure hashed fingerprint is in wellknown file
      delegate_to: localhost
      ansible.builtin.lineinfile:
        line: "{{ _fingerprint_hashed }}"
        path: "{{ infodir }}/hashed-bridge-rsa-fingerprint.txt"
        insertafter: "^# {{ inventory_hostname }}\n"

- name: Wellknown for server
  throttle: 1
  when: tor_bridge_distribution == ''
  block:
    - name: Ensure hostname is in wellknown files
      delegate_to: localhost
      ansible.builtin.lineinfile:
        line: "# {{ inventory_hostname }}"
        path: "{{ infodir }}/{{ item }}"
      loop:
        - "rsa-fingerprint.txt"
        - "ed25519-master-pubkey.txt"

    - name: Ensure RSA fingerprint is in wellknown file
      delegate_to: localhost
      ansible.builtin.lineinfile:
        line: "{{ _fingerprint }}"
        path: "{{ infodir }}/rsa-fingerprint.txt"
        insertafter: "^# {{ inventory_hostname }}\n"

    - name: Ensure ED25519 fingerprint is in wellknown file
      delegate_to: localhost
      ansible.builtin.lineinfile:
        line: "{{ _fingerprint_ed25519 }}"
        path: "{{ infodir }}/ed25519-master-pubkey.txt"
        insertafter: "^# {{ inventory_hostname }}\n"
