---
- name: Reload systemd
  listen: Reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart systemd-journald
  listen: Restart systemd-journald
  ansible.builtin.systemd_service:
    name: systemd-journald
    state: restarted

- name: Reload ssh
  listen: Reload ssh
  ansible.builtin.systemd_service:
    name: ssh
    state: reloaded

- name: Restart nginx
  listen: Restart nginx
  ansible.builtin.systemd_service:
    name: nginx
    state: restarted

- name: Reload nginx
  listen: Reload nginx
  ansible.builtin.systemd_service:
    name: nginx
    state: reloaded

- name: Restart Prometheus node exporter
  listen: Restart Prometheus node exporter
  ansible.builtin.systemd_service:
    name: prometheus-node-exporter
    state: restarted

- name: Reboot system
  listen: Reboot system
  ansible.builtin.reboot:
    reboot_timeout: 180
    post_reboot_delay: 30
    test_command: "iptables -nvL"

- name: Gather new kernel version after reboot
  listen: Reboot system
  ansible.builtin.setup:
    gather_subset:
      - hardware
