---
- name: Reload systemd
  listen: Reload systemd
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart systemd-journald
  listen: Restart systemd-journald
  ansible.builtin.systemd_service:
    name: systemd-journald
    state: restarted
    enabled: true

- name: Restart ssh
  listen: Restart ssh
  ansible.builtin.systemd_service:
    name: ssh
    state: restarted
    enabled: true

- name: Restart nginx
  listen: Restart nginx
  ansible.builtin.systemd_service:
    name: nginx
    state: restarted
    enabled: true

- name: Reload nginx
  listen: Reload nginx
  ansible.builtin.systemd_service:
    name: nginx
    state: reloaded
    enabled: true

- name: Restart Prometheus node exporter
  listen: Restart Prometheus node exporter
  ansible.builtin.systemd_service:
    name: prometheus-node-exporter
    state: restarted
    enabled: true

- name: Reboot
  listen: Reboot
  retries: 1
  ansible.builtin.reboot:
    reboot_timeout: 180
    post_reboot_delay: 30
    test_command: "iptables -nvL"

- name: Gather facts (after common reboot)
  listen: Reboot
  ansible.builtin.setup:
    gather_subset:
      - hardware
      - kernel
