---
- name: Get nginx log
  changed_when: false
  failed_when: false
  ansible.builtin.shell:
    cmd: >-
      tail -q -n 10 /var/log/nginx/{{ nginx_loglevel | default('error') }}.log{,.1} 2>/dev/null |
        sort |
        tail -n 10
    executable: /bin/bash
  register: _result

- name: Results of nginx log
  when: _result.stdout | length > 0
  changed_when: true
  ansible.builtin.debug:
    var: _result.stdout_lines

- name: Results of nginx log stderr
  when: _result.stderr | length > 0
  changed_when: true
  ansible.builtin.debug:
    var: _result.stderr_lines
