---
- name: Get last lines from unattended log
  changed_when: false
  ansible.builtin.shell:
    cmd: |-
      zgrep -h -v -e 'Reading database' -e '^$' \
        /var/log/unattended-upgrades/unattended-upgrades-dpkg.log.1.gz \
        /var/log/unattended-upgrades/unattended-upgrades-dpkg.log 2>/dev/null |
        tail -n 20
  register: _result

- name: Findings of unattended log
  when: _result.stdout | length > 0
  changed_when: true
  ansible.builtin.debug:
    var: _result.stdout_lines
