---
- name: Main
  module_defaults:
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      mode: "0644"
  block:
    - name: Conntrack
      ansible.builtin.import_tasks: conntrack.yaml
      tags:
        - conntrack

    - name: Dryrun of unattended-upgrade
      ansible.builtin.import_tasks: dry-update.yaml
      tags:
        - dry-update

    - name: Firewall base
      when: tor_port == 0
      ansible.builtin.import_tasks: firewall-base.yaml
      tags:
        - firewall-base

    - name: Firewall Tor
      when: tor_port > 0
      ansible.builtin.import_tasks: firewall-tor.yaml
      tags:
        - firewall-tor

    - name: Log unattended
      ansible.builtin.import_tasks: log-unattended.yaml
      tags:
        - log-unattended

    - name: Log nginx error
      ansible.builtin.import_tasks: log-nginx.yaml
      tags:
        - log-nginx

    - name: Uname
      ansible.builtin.import_tasks: uname.yaml
      tags:
        - uname

    - name: Uptime
      ansible.builtin.import_tasks: uptime.yaml
      tags:
        - uptime
