---
- name: Gather facts
  ansible.builtin.setup:
    gather_subset:
      - distribution
      - hardware
      - kernel
      - processor

- name: File uname
  delegate_to: localhost
  throttle: 1
  ansible.builtin.lineinfile:
    line: >-
      {{ inventory_hostname }}
      {{ ansible_facts.kernel }}
      {{ ansible_facts.processor[1] }}
      {{ ansible_facts.distribution }}
      {{ ansible_facts.distribution_release }}
    path: "{{ infodir }}/uname"
    regexp: "^{{ inventory_hostname }} "
