---
# "de-normalize" plays to
#   - avoid reboot races if a linux kernel is compiled in background
#   - saturize all ansible forks by having 1 single play

- name: Setup-grouped special
  hosts: "!snowflake:!tor"
  roles:
    - role: setup_common
    - role: info_healthy
    - role: setup_autoupdate

- name: Setup-grouped snowflake
  hosts: snowflake
  roles:
    - role: setup_common
    - role: setup_snowflake
    - role: info_healthy
    - role: setup_autoupdate

- name: Setup-grouped tor
  hosts: tor
  roles:
    - role: setup_common
    - role: setup_tor
    - role: info_healthy
    - role: setup_autoupdate
