---
- name: Set sysctl max user namespaces
  ansible.posix.sysctl:
    name: user.max_user_namespaces
    value: "2" # debian bookworm default: 14886
    sysctl_file: /etc/sysctl.d/21tor-relay.conf
    sysctl_set: true
  notify: Restart Tor

- name: Configure torrc
  ansible.builtin.template:
    src: torrc.j2
    dest: /etc/tor/torrc
    backup: true
  notify:
    - Reload Tor

- name: Install family key
  when: tor_secret_family_key_file | length > 0
  vars:
    tor_user: "{{ tor_build_from_source | ternary('tor', 'debian-tor') }}"
  ansible.builtin.copy:
    src: "{{ tor_secret_family_key_file }}"
    dest: /var/lib/tor/keys/
    mode: "0600"
    owner: "{{ tor_user }}"
    group: "{{ tor_user }}"
  notify: Restart Tor

- name: Verify torrc
  changed_when: false
  ansible.builtin.command:
    cmd: >-
      su {{ tor_build_from_source | ternary('tor', 'root') }} -c "tor --verify-config"

- name: Configure Tor logrotate
  ansible.builtin.template:
    src: logrotate.tor.j2
    dest: /etc/logrotate.d/tor

# https://www.1aeo.com/blog/tor-memory-optizations-what-actually-works.html
- name: Install/Update memory optimization
  ansible.builtin.apt:
    name:
      - "{{ (ansible_facts.distribution_release == 'trixie') | ternary('libmimalloc3', 'libmimalloc2.0') }}"
    state: "{{ (tor_use_mimalloc | bool) | ternary('present', 'absent') }}"
  notify: Restart Tor

- name: Ensure that Tor systemd override dir exists
  ansible.builtin.file:
    path: /etc/systemd/system/tor@default.service.d/
    state: directory
    mode: "0755"

- name: Add Tor systemd override
  ansible.builtin.template:
    src: tor.override.conf.j2
    dest: /etc/systemd/system/tor@default.service.d/override.conf
  notify: Reload systemd
