---
- name: Download DDoS metrics script
  throttle: 16
  retries: 3
  ansible.builtin.get_url:
    url: https://github.com/toralf/torutils/raw/main/metrics.sh
    dest: /root/metrics.sh
  register: _download

- name: Cron job for DDoS metrics
  ansible.builtin.cron:
    name: DDoS metrics
    special_time: reboot
    job: >-
      nice /root/metrics.sh 15 /var/www/html/
    state: "{{ ddos_metrics | ternary('present', 'absent') }}"
  register: _cronjob

- name: Getting process IDs of any running DDoS metrics script
  community.general.pids:
    name: metrics.sh
  register: _ddos_metrics_pids_2_kill

- name: Ensure no outdated DDoS metrics script is running
  when: (_download.changed or not ddos_metrics or _cronjob.changed)
  changed_when: true
  ansible.builtin.shell:
    cmd: |-
      kill -0 "{{ item }}" && kill -9 "{{ item }}"
  with_items: "{{ _ddos_metrics_pids_2_kill.pids | default([]) }}"

- name: Look if DDoS metrics script is running
  community.general.pids:
    name: metrics.sh
  register: _ddos_metrics_pids_running

- name: Start DDoS metrics script
  when: ddos_metrics and _ddos_metrics_pids_running.pids | default([]) | length == 0
  changed_when: true
  ansible.builtin.shell:
    cmd: nice /root/metrics.sh 15 /var/www/html/ &
