---
- name: Work on "{{ _repo_dir }}"
  vars:
    _git_repo_url: https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/lyrebird.git
    _git_version: "{{ lyrebird_git_version }}"
    _git_patches: "{{ lyrebird_git_patches }}"
    _repo_dir: /root/lyrebird
  ansible.builtin.include_tasks: "{{ role_path }}/../../../playbooks/roles/lib/_git.yaml"

- name: Build Lyrebird
  throttle: 24
  changed_when: false
  environment:
    GOPROXY: "https://goproxy.io,direct"
  ansible.builtin.command:
    cmd: make build
    chdir: /root/lyrebird

- name: Copy Lyrebird
  ansible.builtin.copy:
    src: /root/lyrebird/lyrebird
    dest: /usr/bin/
    mode: a+x
    remote_src: true
  notify: Restart Tor
  register: _lyrebird_installed

- name: Allow low port for Lyrebird
  when: tor_port < 1024 and _lyrebird_installed.changed
  community.general.capabilities:
    path: /usr/bin/lyrebird
    capability: cap_net_bind_service+ep
