---
- name: Validate
  ansible.builtin.import_tasks: validate.yaml
  tags:
    - validate

- name: Main
  module_defaults:
    ansible.builtin.apt:
      allow_change_held_packages: true
      autoclean: true
      autoremove: true
      purge: true
      state: latest
    ansible.builtin.copy:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.get_url:
      mode: "0744"
      force: true
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.stat:
      get_attributes: false
      get_checksum: false
      get_mime: false
    ansible.builtin.template:
      owner: root
      group: root
      mode: "0644"
  block:
    - name: Test keys
      ansible.builtin.stat:
        path: /var/lib/tor/keys/
      register: _keys
      tags:
        - tor-keys-restore

    - name: Tor Debian
      when: not tor_build_from_source and ansible_facts.distribution == 'Debian'
      ansible.builtin.import_tasks: tor-debian.yaml
      tags:
        - tor

    - name: Build from source
      when: tor_build_from_source
      block:
        - name: Tools
          when: ansible_facts.os_family == 'Debian'
          ansible.builtin.import_tasks: tools.yaml
          tags:
            - tools

        - name: Tor
          ansible.builtin.import_tasks: tor-src.yaml
          tags:
            - tor

        - name: Lyrebird
          when: tor_bridge_distribution != ''
          ansible.builtin.import_tasks: lyrebird.yaml
          tags:
            - lyrebird

    - name: Tor keys restore
      when: tor_keys_restore | bool
      ansible.builtin.import_tasks: tor-keys-restore.yaml
      tags:
        - tor-keys-restore

    - name: DDoS metrics
      when: ddos_metrics
      ansible.builtin.import_tasks: ddos-metrics.yaml
      tags:
        - ddos-metrics

    - name: Config
      ansible.builtin.import_tasks: config.yaml
      tags:
        - config
