---
- name: Validate
  ansible.builtin.import_tasks: validate.yaml
  tags:
    - validate

- name: Main
  module_defaults:
    ansible.builtin.apt:
      allow_change_held_packages: true
      autoclean: true
      autoremove: true
      purge: true
      state: latest
    ansible.builtin.copy:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.file:
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.get_url:
      mode: "0744"
      force: true
    ansible.builtin.lineinfile:
      create: true
      firstmatch: true
      owner: root
      group: root
      mode: "0644"
    ansible.builtin.systemd_service:
      daemon_reload: true
      enabled: true
      no_block: true
    ansible.builtin.template:
      owner: root
      group: root
      mode: "0644"
  block:
    - name: Distribution
      when: not tor_build_from_source and ansible_facts.distribution == 'Debian'
      ansible.builtin.import_tasks: tor-dist.yaml
      tags:
        - tor
        - tor-dist

    - name: Tools
      when: tor_build_from_source and ansible_facts.os_family == 'Debian'
      ansible.builtin.import_tasks: tools.yaml
      tags:
        - tools

    - name: Build from source
      tags:
        - tor
      when: tor_build_from_source
      block:
        - name: Tor
          ansible.builtin.import_tasks: tor-src.yaml
          tags:
            - tor-src

        - name: Lyrebird
          when: tor_bridge_distribution != ''
          ansible.builtin.import_tasks: lyrebird.yaml
          tags:
            - lyrebird

    - name: DDoS metrics
      when: ddos_metrics
      ansible.builtin.import_tasks: ddos-metrics.yaml
      tags:
        - ddos-metrics

    - name: Config
      ansible.builtin.import_tasks: config.yaml
      tags:
        - config

    - name: Enable Tor
      ansible.builtin.systemd_service:
        name: tor
      notify: Restart Tor
