---
- name: Install/Update toolchain for Tor build
  when: ansible_facts.os_family == 'Debian'
  ansible.builtin.apt:
    name:
      - automake
      - build-essential
      - libevent-dev
      - libssl-dev
      - logrotate
      - zlib1g-dev

- name: Install/Update toolchain for Tor server build
  when: tor_bridge_distribution == ''
  ansible.builtin.apt:
    name:
      - libseccomp-dev

- name: Install/Update toolchain for Tor build (Ubuntu)
  when: ansible_facts.distribution == 'Ubuntu'
  ansible.builtin.apt:
    name:
      - autotools-dev

- name: Install/Update toolchain for Tor bridges
  when: tor_bridge_distribution != ''
  ansible.builtin.apt:
    default_release: "{{ ansible_facts.distribution_release }}-backports"
    name:
      - golang-go
