---
- name: Add the group tor
  ansible.builtin.group:
    name: tor

- name: Add the user
  ansible.builtin.user:
    group: tor
    name: tor

- name: Work on "{{ _repo_dir }}"
  vars:
    _git_repo_url: https://gitlab.torproject.org/tpo/core/tor.git
    _git_version: "{{ tor_git_version }}"
    _git_patches: "{{ tor_git_patches }}"
    _repo_dir: /root/tor
  ansible.builtin.include_tasks: "{{ role_path }}/../../../playbooks/roles/lib/_git.yaml"

- name: Build
  when: _git_repo_changed
  changed_when: true
  vars:
    _j: "{{ (ansible_facts.processor_vcpus == 1) | ternary(1, ansible_facts.processor_vcpus - 1) }}"
  ansible.builtin.shell:
    cmd: |-
      set -euf

      truncate -s 0 make.log

      rm -f configure Makefile
      ./autogen.sh >>make.log

      ./configure \
        --prefix=/usr \
        --mandir=/usr/share/man --infodir=/usr/share/info --datadir=/usr/share --sysconfdir=/etc \
        --localstatedir=/var --datarootdir=/usr/share \
        --disable-systemd --disable-asciidoc --disable-html-manual --disable-unittests \
        --enable-module-relay --disable-module-dirauth \
        --enable-pic --enable-gcc-hardening --enable-linker-hardening --disable-all-bugs-are-fatal --enable-seccomp \
        --disable-zstd \
        >>make.log
      make clean >>make.log
      make -j {{ _j }} >>make.log
    chdir: /root/tor

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: tor
    group: tor
    mode: u=rwx,g=s,o=
  with_items:
    - /var/lib/tor/
    - /var/log/tor/

# test if Tor restart is needed
- name: Copy Tor
  ansible.builtin.copy:
    src: /root/tor/src/app/tor
    dest: /usr/bin/
    remote_src: true
    mode: a+x
  register: _binary_tor
  notify: Restart Tor

- name: Run install command
  when: _binary_tor.changed
  changed_when: true
  ansible.builtin.command:
    cmd: make install
    chdir: /root/tor

- name: Add systemd unit
  ansible.builtin.template:
    src: tor.service.j2
    dest: /etc/systemd/system/tor.service
  notify: Restart Tor

# for bridges the PT needs the capability
- name: Allow low port
  changed_when: false
  when: tor_port < 1024 and tor_bridge_distribution == ''
  community.general.capabilities:
    path: /usr/bin/tor
    capability: cap_net_bind_service+ep
