---
- name: Add the group tor
  ansible.builtin.group:
    name: tor

- name: Add the user
  ansible.builtin.user:
    group: tor
    name: tor

- name: Work on "{{ _repo_dir }}"
  vars:
    _git_repo_url: https://gitlab.torproject.org/tpo/core/tor.git
    _git_version: "{{ tor_git_version }}"
    _git_patches: "{{ tor_git_patches }}"
    _repo_dir: /root/tor
  ansible.builtin.include_tasks: "{{ role_path }}/../../../playbooks/roles/lib/_git.yaml"

- name: Test whether Tor binary is there
  ansible.builtin.stat:
    path: /root/tor/src/app/tor
  register: _binary

- name: Build
  when: _git_repo_changed or not _binary.stat.exists
  changed_when: true
  ansible.builtin.shell:
    cmd: |-
      set -euf

      truncate -s 0 make.log

      exec 1>make.log
      exec 2>&1

      rm -f configure Makefile
      ./autogen.sh

      ./configure \
        --prefix=/usr \
        --mandir=/usr/share/man --infodir=/usr/share/info --datadir=/usr/share --sysconfdir=/etc \
        --localstatedir=/var --datarootdir=/usr/share \
        --disable-dependency-tracking --disable-silent-rules --disable-all-bugs-are-fatal --enable-system-torrc \
        --disable-android --disable-coverage --disable-html-manual --disable-libfuzzer --enable-missing-doc-warnings \
        --disable-module-dirauth --enable-pic --disable-restart-debugging --enable-gpl --enable-module-pow \
        --enable-gcc-hardening --enable-linker-hardening \
        --enable-libscrypt --enable-seccomp --enable-module-relay --disable-unittests --disable-zstd  \
        --disable-asciidoc --disable-manpage --disable-lzma
      make clean
      CFLAGS="-O2 -pipe -march=native -ftrivial-auto-var-init=zero -g -ggdb" make -j$(nproc)
    chdir: /root/tor

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: tor
    group: tor
    mode: u=rwx,g=s,o=
  with_items:
    - /var/lib/tor/
    - /var/log/tor/

# test if Tor restart is needed
- name: Copy Tor
  ansible.builtin.copy:
    src: /root/tor/src/app/tor
    dest: /usr/bin/
    remote_src: true
    mode: a+x
  register: _binary_tor
  notify: Restart Tor

- name: Run install command
  when: _binary_tor.changed
  changed_when: true
  ansible.builtin.command:
    cmd: make install
    chdir: /root/tor

- name: Add systemd unit
  ansible.builtin.template:
    src: tor.service.j2
    dest: /etc/systemd/system/tor.service
  notify:
    - Reload systemd
    - Restart Tor

- name: Enable
  ansible.builtin.systemd_service:
    name: tor
    enabled: true
  notify: Restart Tor

# for bridges the PT needs the capability
- name: Allow low port
  changed_when: false
  when: tor_port < 1024 and tor_bridge_distribution == ''
  community.general.capabilities:
    path: /usr/bin/tor
    capability: cap_net_bind_service+ep
