---
- name: Validate tor_port
  ansible.builtin.assert:
    quiet: true
    that:
      - "tor_port > 0 and tor_port < 2**16"

- name: Validate metrics_port
  when: metrics_port != 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "metrics_port > 0 and metrics_port < 2**16"
      - "tor_port != metrics_port"

- name: Validate tor_port
  when: tor_port != 0
  ansible.builtin.assert:
    quiet: true
    that:
      - "tor_port > 0 and tor_port < 2**16"
